
@media print {
  button,  {
    display: none !important;
  }
  input,
  textarea {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
  html,body {
  	
  	overflow:hidden !important;
  }
  .label_pair_anchor {
  	
  	display:none;
  }
  a[href]:after {
    content: none !important;
  }
  
  #buttons_bar {
  	display: none !important;
  }
   
  ::-webkit-input-placeholder { /* WebKit browsers */
      color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: transparent;
  }
   
  #headers
  {
  	display:block !important;
  }
   /*#game_title_text {
   	
   		color:red !important;	
   }*/

}

/*@media print {
tr.vendorListHeading {
    background-color: #1a4567 !important;
    -webkit-print-color-adjust: exact; 
}}

@media print {
    .vendorListHeading th {
    color: white !important;
}}*/

input,
  textarea {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

svg path:hover {
    fill: red !important;
    
    cursor: pointer;
}


html,body{
    
    overflow:hidden;
}

.max_height {
	
	max-height: 100%;
}

.non_display {
	
	display:none;
}

.completed_link {
	
	display:block;
	opacity:0 !important;
}

.half_visible {
	
	opacity:0.4;
}


.non_visible {
	
	opacity:0;
	
}


#container_all {
	
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	
	/*height:190mm;
    width:285mm;*/
    
    margin-left:0mm;
    
    overflow:hidden;
	
}

#buttons_bar {
  
  	position:relative;
  
  	top:0;

	width:100%;
	height:2%;
	
	
}

	#choose_controller_dropdown {
		position:relative;
		
		display:inline-block;
	
		float:left;
		
		margin-left:1px;
	}
		.selected {
			
			background-color: #1888ff !important;
			
		}
	
		.controller_item:hover {
		
			background-color: #99bbff;	
		}
		
		.controller_item {
			
			display: block;
		    padding: 3px 20px;
		    clear: both;
		    font-weight: 400;
		    line-height: 1.42857143;
		    color: #333;
		    white-space: nowrap;
		    
		    cursor:pointer;
		}
			.controller_thumbnail {
				
				display:inline-block;
				max-width:50px;
				max-height:50px;
			}
		
	#choose_color_scheme_dropdown {
		position:relative;
				
		display:inline-block;
	
		float:left;
		
		margin-left:1px;
		
	}
			
		.color_scheme_row:hover {
		
			background-color: #99bbff;	
		}
		
		.color_scheme_row {
			
			display: block;
		    white-space: nowrap;
		    height: 50px;
    		width: auto;
		    
		    cursor:pointer;
		}
			
			.color_scheme_display {
				
				display: inline-block;
			    width: 40px;
			    height: 40px;
			    margin: 2px 4px;
			    vertical-align: top;
			}
			.color_scheme_lines_display {
				
			    display: inline-block;
			    width: 40px;
			    height: 40px;
			    margin: 2px 0;
			    vertical-align: top;
			}
			.color_scheme_text {
				
			    display: inline-block;
			    
			    height: 40px;
			    line-height:40px;
			    color: #333;
			    margin: 2px 4px;
			    vertical-align: top;
			   
			}
			
	
	
	#search_dropdown {
		position:relative;
				
		display:inline-block;
	
		float:left;
		
		margin-left:1px;
		
	}
	
	#search_results_dropdown {
		position:relative;
				
		display:inline-block;
	
		float:left;
		
		margin-left:1px;
		
	}
	
		.search_results_row {
			
			display: block;
		    white-space: nowrap;
		    /*height: 50px;*/
    		width: auto;
		    
		}
	
			.controller_thumbnail_search_results {
					
				display:inline-block;
				max-width:50px;
				max-height:50px;
				padding-bottom: 12px;
			}
			
			.results_information_container {
			
				display: inline-block;
			    white-space: nowrap;
			    height: 50px;
	    		width: auto;
		    
			}
			
			.load_button {
				
				display:inline-block;
				margin-bottom: 12px;
			}
			
			.game_title_information.text-center {
			    height: 15px;
			    padding: 5px;
			}
			
			.game_creator_information.text-center {
			    padding: 5px;
			    margin-top: 2px;
			}
	
	
	
	#print_button {
			
		position:relative;
				
		display:inline-block;
				
		float:left;
		
		margin-left:1px;
					
	}
	
	#search_text {
		
		position:relative;
		
		height:200%;
		
		margin-top:0;
				
		border: 2px solid black !important;
	
	}
	
	#save_button {
			
		position:relative;
				
		display:inline-block;
				
		float:left;
		
		margin-left:1px;
		
					
	}

#headers {
	position:relative;
	
	display:none;
	
	top:0;
	left:0;
	width:100%;
	height:2%;
		
}
		#tool_name {
			
			position:relative;
			
			width:45%;
			
			margin-left:1%;
			
			
			float:left;
			
		}
		

		#webpage_name {
			
			position:relative;
			
			width:45%;
			
			float:right;
			
			margin-right:1%;
								
			text-align:right;
			
			cursor: pointer;
		}

#container_top {
	position:relative;
	display:block;
G	width:100%;
	height:15%;
	
}
	
	#game_title_text {
		
		position:absolute;
		
		top:10%;
		
		width:100%;
		height:40%;
		margin-top:0;
	}
	
	#creator_name_text {
		
		position:absolute;
		
		top:50%;
		
		width:100%;
		height:40%;
		margin-top:0;
	}
	

#container_middle {
	position:relative;
	display:block;
	width:100%;
	height:70%;
}

	#left_text_container
	{
		position:relative;
		display:inline-block;
		width:20%;
		height:80%;
		float:left;
	}
		.label_pair
		{
			position:relative;
			width:100%;
			height:16%;
			
			
		}
		
			.label_pair_texts_container {
				
				position:absolute;
				
				width:90%;
				height:80%;
				
				
			}
			
			.left_position_label {
				
				position:absolute;
				
				left:0%;
			}
			
			.right_position_label {
				
				position:absolute;
				
				left:6%;
				
			}
			
				.description_first_language_button_text
				{
					position:absolute;
					display:block;
							
					top:10%;
								
					width:100%;
					height:40%;
					
					margin:0;
				}
				
				.description_second_language_button_text {
		
					position:absolute;
					display:block;
					
					top:50%;
					
					width:100%;
					height:40%;
					
					margin-top:0;
				}
				
				.left_position_text {
					
					text-align:right;
				}
				
				.right_position_text {
					
					text-align:left;
				}
				
			.label_pair_anchor:hover {
				
				cursor: pointer;
			    
			    border: 2px red solid;
			}
			.label_pair_anchor_right {
				
				position:absolute;
				
				top:10%;
								
				width:4%;
				height:30%;
				background-color:orange;
				
				border-radius:100%;
				
				opacity: 1 !important;
				
			}
			
			.left_position_right_anchor {
				
				position:absolute;
				
				left:90%;
			}
			
			.right_position_right_anchor {
				
				position:absolute;
				
				left:2%;
			}
			
			.display {
				
				display:block;
			}
			
						
			.label_pair_anchor_bottom {
				
				position:absolute;
				
				top:80%;
	
				width:5%;
				height:20%;
				
				background-color:orange;
				
				border-radius:100%;
				
				opacity: 1 !important;
			}
			
			.left_position_bottom_anchor {
				
				position:absolute;
				
				left:75%;
			}
			
			.right_position_bottom_anchor {
				
				position:absolute;
				
				left:15%;
			}
				
	
	#controllers_images_container {
	
		width:60%;
		height:100%;
		
		float:left;
		
	}
		#controllers_image_container {
	
			width:100%;
			height:80%;
			
			float:left;
			
		}
		
		#number_players_container {
	
			position:absolute;
			
			top:80%;
	
			width:100%;
			height:20%;
			
			float:left;
			
		}
			#number_players_image_container {
	
			display:inline-block;

			margin-left:41%;

			width:10%;
			height:100%;
			
			float:left;
			
			
			}
			
			#number_players_inputs_container {
	
			display:inline-block;

			width:10%;
			height:100%;
			
			float:left;
			
			
			}
			
				#number_players_min_text
				{
					display:inline-block;

					width:35%;
					height:100%;
					
					margin-top:0;
					
					float:left;
				}
				
				#number_players_line_text_container
				{
					display:table;

					width:15%;
					height:100%;
					
					margin-top:0;
										
					float:left;
					
					
				}
					#number_players_line_text
					{						
						width:100%;
						height:100%;
												
						display:table-cell;
												
						vertical-align:middle;
						
					}
				
				#number_players_max_text
				{
					display:inline-block;

					width:35%;
					height:100%;
					
					margin-top:0;
					
					float:left;
				}
			
			
	#right_text_container
	{
		position:relative;
		display:inline-block;
		width:20%;
		height:80%;
		
		float:left;
		
	}

#container_bottom {
	position:relative;
	display:block;
	width:100%;
	height:15%;
	
}
	#description_first_language_text {
		
		position:absolute;
		display:block;
		
		top:20%;
		
		width:100%;
		height:30%;
		
		margin:0;
		
	}
	
	#description_second_language_text {
		
		position:absolute;
		display:block;
		
		top:50%;
		
		width:100%;
		height:30%;
		
		margin-top:0;
	}





.yellow {
	
	background-color: yellow;
}

.green {
	
	background-color: green;
}

.brown {
	
	background-color:brown;
}

.orange {
	background-color:orange;
}
